// Variables Imports
@use './variable.scss';
@use 'tailwindcss';

// Global Styles
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  background-color: var(--background-glass);
  color: var(--foreground);
  font-family: 'Inter', 'HarmonyOS Sans SC', sans-serif;
}


html {
  -ms-overflow-style: none;
  /* IE/Edge */
  scrollbar-width: none;
  /* Firefox */
}

::-webkit-scrollbar-button {
  height: 0;
  background-color: transparent;
}